version: '3.8'

services:
  # 1. MySQL Database
  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - apps-net
    restart: unless-stopped

  # 2. WordPress
  wordpress-app:
    image: wordpress:latest
    container_name: wordpress-app
    depends_on:
      - mysql-db
    environment:
      WORDPRESS_DB_HOST: mysql-db:3306
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      # Використовуємо змінну DOMAIN_NAME. Поки там "localhost", це спрацює для VIRTUAL_HOST
      VIRTUAL_HOST: ${DOMAIN_NAME}
      # LETSENCRYPT_HOST: ${DOMAIN_NAME}
      # LETSENCRYPT_EMAIL: ${LETSENCRYPT_EMAIL}
    volumes:
      - wp_data:/var/www/html
    networks:
      - apps-net
    restart: unless-stopped

  # 3. Nginx Reverse Proxy
  nginx-proxy:
    image: nginxproxy/nginx-proxy:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DEFAULT_HOST=wordpress-app
    volumes:
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - apps-net
    restart: unless-stopped

  # 4. SSL Companion
  acme-companion:
    image: nginxproxy/acme-companion
    container_name: acme-companion
    volumes_from:
      - nginx-proxy
    volumes:
      - certs:/etc/nginx/certs:rw
      - acme:/etc/acme.sh
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - apps-net
    depends_on:
      - nginx-proxy
    restart: unless-stopped

volumes:
  db_data:
  wp_data:
  conf:
  vhost:
  html:
  certs:
  acme:

networks:
  apps-net:
    external: true
    name: apps-net