version: '3.8'

services:
  # Jenkins CI Server
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /usr/libexec/docker/cli-plugins:/usr/lib/docker/cli-plugins:ro
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      # Критично для Jenkins: виставляємо часовий пояс для логів та білдів
      - JAVA_OPTS=-Duser.timezone=Europe/Kyiv
    networks:
      - jenkins-net
      - apps-net
    restart: unless-stopped

volumes:
  jenkins_data:

networks:
  jenkins-net:
    driver: bridge
  apps-net:
    external: true