version: '3.8'
services:
  # Jenkins CI Server
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/local/bin/docker:/usr/local/bin/docker
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - jenkins-net
      - apps-net
    restart: unless-stopped

volumes:
  jenkins_data:

networks:
  jenkins-net:
    driver: bridge
  apps-net:
    external: true